* {
  box-sizing: border-box;
}

.logo {
  padding: .5rem 0;
  width: 250px;
}

body {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: #ecf0f1;
  font-family: "Lato", sans-serif;
}

header {
  background-color: rgba(100, 77, 237, 0.08);
  color: #484964;
  margin-bottom: 1.5em;
  font-weight: bold;
  text-align: center;
}

header h1 {
  font-size: 2em;
  display: inline-block;
  vertical-align: middle;
}
header h2 {
  font-size: 1em;
  display: inline-block;
  vertical-align: middle;
}

main h2 {
  color: #484964;
  font-weight: bold;
  font-size: 2rem !important;
}

header .container:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.container {
  width: 60%;
  height: 100%;
  margin: 0 auto;
}

section {
  margin: 2em 0;
  overflow: hidden;
}

section h2 {
  font-size: 3em;
  display: block;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0.5em;
}

table {
  width: 100%;
  margin-bottom: 0.5em;
  table-layout: fixed;
}

/* linhas pares (even) */
#tabela-pacientes tr:nth-child(even) {
  background-color: #fafafa;
}

/* linhas ímpares (odd) */
#tabela-pacientes tr:nth-child(odd) {
  background-color: #ffffff;
}

td,
th {
  padding: 0.7em;
  margin: 0;
  border: 1px solid #eeeef2;
  text-align: center;
  color: #484964;
}

th {
  font-weight: bold;
  background-color: rgba(100, 77, 237, 0.08);
}

label {
  color: #555;
  display: block;
  margin-bottom: 0.2em;
}

.campo {
  margin: 0;
  padding-bottom: 1em;
  width: 100%;
  border: 1px solid #eeeef2;
  padding: 0.7em;
  width: 100%;
}

.campo-medio {
  display: inline-block;
  padding-right: 0.5em;
}

.grupo {
  width: 32%;
  display: inline-block;
  padding: 10px 0px;
}

/* altera cor dos campos preenchidos*/
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

#buscar_paciente {
  margin-bottom: 1rem;
  border: none;
}

#form-adiciona input, #buscar_paciente{
  border-radius: 5px;
  padding: 0.8rem;
}

button {
  padding: 0.8em 0.8em;
  border: 0;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  margin: 0;
  margin-top: -3px;
  color: #fff;
  background-color: #8960ff;
  width: 20%;
  display: block;
  clear: both;
  margin: 10px 0px;
}

button:active {
  margin-top: 0px;
  border: 0;
}

button[disabled="disabled"],
button:disabled {
  background-color: gray;
  border-color: darkgray;
}

.adicionar-paciente {
  margin-top: 30px;
}

.campo-invalido {
  border: 1px solid red;
}

.dado-invalido,
#mensagens-erro li {
  color: coral;
}

.fadeout {
  opacity: 0;
  transition: 0.5s;
}

.invisivel {
  display: none;
}

@media screen and (max-width: 600px) {
  .container {
    width: 95%;
  }

  button {
    width: 100%;
  }

  .grupo, #buscar_paciente {
    width: 100%;
    display: block;
  }
}
